div.resource {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

div.resource img {
  position: absolute;
}

div.resource span {
  position: absolute;
  opacity: 0;
}

div.resource:hover span {
  opacity: 1;
}

span.folder-toggle {
  cursor: pointer;
}

span.folder-name {
  cursor: pointer;
}

div.folder-children {
  margin-left: 1em;
}
